<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!--
MySQL configuration using MySQL command-line
    CREATE DATABASE week3exercise ;
    USE week3exercise ;
    GRANT ALL ON week3exercise.* TO 'root'@'localhost' IDENTIFIED BY 'root' ;
    CREATE TABLE users (
      id int(11) NOT NULL auto_increment,
      first_name varchar(25),
      last_name varchar(30),
      date_of_birth date,
      PRIMARY KEY (id) ) ;

To start over, drop the database:
    DROP DATABASE week3exercise ;
-->

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/carsonwebapp</property>
        <property name="connection.username">root</property> <!-- 2017-02-01nkf changed to "root" -->
        <property name="connection.password">root</property> <!-- 2017-02-01nkf changed to "root" -->

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- List the annotated entity class/es -->
        <mapping class="edu.matc.entity.User"/>

    </session-factory>
</hibernate-configuration>